.scroll-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
}
ion-grid{
  min-height: 100vh;
}
ion-segment {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}

ion-segment-button {
  flex: 0 0 auto;
  min-width: 120px; /* Sesuaikan ukuran tombol */
  margin-right: 8px; /* Tambahkan margin antar tombol */
}

#swiper-container {
  position: relative;
}
