<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"></ion-buttons>
    <ion-title class="custom-title">
      Pencarian
    </ion-title>
    <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Masukkan Judul..." [(ngModel)]="searchValue" (ionChange)="filterList()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid fixed="true">
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let item of searchCardContainer">
          <app-card 
            [title]="item.title" 
            [image]="item.image" 
            [model]="item.modelItem" 
            [voterRating]="item.voterRating" 
            [releaseYear]="item.releaseYear"
            (cardEventTrigger)="cardEventListener($event)">
          </app-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
