:root {
  /** primary **/
  --ion-color-primary: #0078d7;
  --ion-color-primary-rgb: 0, 120, 215;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #006bbf;
  --ion-color-primary-tint: #268cdb;

  /** secondary **/
  --ion-color-secondary: #5aa469;
  --ion-color-secondary-rgb: 90, 164, 105;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4d9259;
  --ion-color-secondary-tint: #6cb482;

  /** tertiary **/
  --ion-color-tertiary: #ffcc00;
  --ion-color-tertiary-rgb: 255, 204, 0;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e6b800;
  --ion-color-tertiary-tint: #ffdb33;

  /** success **/
  --ion-color-success: #4caf50;
  --ion-color-success-rgb: 76, 175, 80;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #439a46;
  --ion-color-success-tint: #67bb69;

  /** warning **/
  --ion-color-warning: #ffc107;
  --ion-color-warning-rgb: 255, 193, 7;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e6ab06;
  --ion-color-warning-tint: #ffca33;

  /** danger **/
  --ion-color-danger: #f44336;
  --ion-color-danger-rgb: 244, 67, 54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #da3c30;
  --ion-color-danger-tint: #f6685a;

  /** dark **/
  --ion-color-dark: #333333;
  --ion-color-dark-rgb: 51, 51, 51;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2e2e2e;
  --ion-color-dark-tint: #4c4c4c;

  /** medium **/
  --ion-color-medium: #888888;
  --ion-color-medium-rgb: 136, 136, 136;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #787878;
  --ion-color-medium-tint: #9c9c9c;

  /** light **/
  --ion-color-light: #f0f0f0;
  --ion-color-light-rgb: 240, 240, 240;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d0d0d0;
  --ion-color-light-tint: #f4f4f4;
}


@media (prefers-color-scheme: dark) {
  body {
    --ion-color-primary: #3794ff;
    --ion-color-primary-rgb: 55, 148, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #2f80e0;
    --ion-color-primary-tint: #55a6ff;

    --ion-color-secondary: #42b983;
    --ion-color-secondary-rgb: 66, 185, 131;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #3aa373;
    --ion-color-secondary-tint: #5acb96;

    --ion-color-tertiary: #ffcd00;
    --ion-color-tertiary-rgb: 255, 205, 0;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e6b800;
    --ion-color-tertiary-tint: #ffda33;

    --ion-color-success: #66bb6a;
    --ion-color-success-rgb: 102, 187, 106;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #5aa561;
    --ion-color-success-tint: #78c683;

    --ion-color-warning: #ffca28;
    --ion-color-warning-rgb: 255, 202, 40;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e6b624;
    --ion-color-warning-tint: #ffce47;

    --ion-color-danger: #ef5350;
    --ion-color-danger-rgb: 239, 83, 80;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d94b4b;
    --ion-color-danger-tint: #f26767;

    --ion-color-dark: #2c2c2c;
    --ion-color-dark-rgb: 44, 44, 44;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #262626;
    --ion-color-dark-tint: #4a4a4a;

    --ion-color-medium: #707070;
    --ion-color-medium-rgb: 112, 112, 112;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #626262;
    --ion-color-medium-tint: #868686;

    --ion-color-light: #e0e0e0;
    --ion-color-light-rgb: 224, 224, 224;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #c0c0c0;
    --ion-color-light-tint: #e4e4e4;
  }
  
  .ios body {
    --ion-background-color: #181818;
    --ion-background-color-rgb: 24, 24, 24;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;
    --ion-item-background: #181818;
    --ion-card-background: #242424;
  }
  
  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
    --border-radius: 16px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #222222;
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;
    --ion-card-background: #1e1e1e;
  }
}
