.card {
    border: 1px solid rgba(255,255,255, 0.1); /* Memberikan border yang halus */
    border-radius: 8px; /* Membuat sudut yang membulat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Memberikan efek bayangan */
    overflow: hidden; /* Menyembunyikan overflow dari konten */
    background-color: rgba(255, 255, 255, 0.05); /* Warna latar belakang putih */
    transition: transform 0.3s, box-shadow 0.3s; /* Animasi transisi untuk efek hover */
    position: relative; /* Untuk mengatur posisi badge */
    padding: 16px; /* Menambahkan padding di sekitar card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card:hover {
    transform: translateY(-10px); /* Mengangkat card sedikit saat di-hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Menambah efek bayangan saat di-hover */
  }
  
  .badge {
    background-color: #0051ff; /* Warna latar belakang badge */
    color: #ffffff; /* Warna teks badge */
    border-radius: 12px; /* Membuat sudut yang membulat */
    padding: 4px 8px; /* Menambahkan padding dalam badge */
    font-size: 14px; /* Mengatur ukuran font badge */
    font-weight: bold; /* Membuat teks badge tebal */
    margin-top: 8px; /* Menambahkan jarak atas untuk badge */
    text-align: center; /* Mengatur teks agar rata tengah */
  }
  
  .text-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #ffffff; /* Warna teks yang lebih gelap untuk kontras */
    margin-top: 12px; /* Menambahkan jarak atas untuk teks */
    text-align: center; /* Mengatur teks agar rata tengah */
    width: 100%; /* Memastikan lebar teks menyesuaikan dengan card */
  }
  
  ion-img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3; /* Sesuaikan rasio aspek sesuai dengan ukuran poster */
    object-fit: cover;
    border-radius: 8px; /* Membuat sudut yang membulat untuk gambar */
  }
  