<ion-header translucent>
  <ion-toolbar class="custom-toolbar">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="fullscreen-modal">
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <div class="media-container">
    <ion-img [src]="backgroundImage" *ngIf="!isVideoEnabled"></ion-img>
    <div class="open-video" *ngIf="isVideoEnabled">
      <iframe [src]="videoUrl" allowfullscreen></iframe>
    </div>
  </div>

  <div class="ion-padding">
    <ion-toolbar class="custom-toolbar">
      <h3>{{ title }}</h3>
      <ion-buttons slot="primary" (click)="playVideo()" *ngIf="!isVideoEnabled && videoUrl">
        <ion-button color="secondary">
          <ion-icon name="play-outline"></ion-icon>
          Play
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar class="info-toolbar">
      <ion-chip color="dark" outline>Tanggal rilis: {{ releasedate }}</ion-chip>
      <ion-chip color="dark" outline>Durasi: {{ runtime }}</ion-chip>
      <ion-chip color="dark" outline>{{ voterRating }}</ion-chip>
    </ion-toolbar>

    <div class="overview-section">
      <h4>Overview</h4>
      <p>{{ overview }}</p>
    </div>

    <!-- Pemeran (Cast) -->
    <div *ngIf="castItemList.length > 0" class="cast-crew-section">
      <h4 class="section-title">Pemeran</h4>
      <ion-list>
        <ion-item *ngFor="let castItem of castItemList">
          <ion-avatar slot="start">
            <img *ngIf="castItem.profile_path" [src]="castItem.profile_path" alt="Actor Profile">
            <ion-icon *ngIf="!castItem.profile_path" name="person" style="font-size: 48px;"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{ castItem.name }}</h2>
            <h3>{{ castItem.character }}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Kru (Crew) -->
    <div *ngIf="crewItemList.length > 0" class="cast-crew-section">
      <h4 class="section-title">Kru</h4>
      <ion-list>
        <ion-item *ngFor="let crewItem of crewItemList">
          <ion-avatar slot="start">
            <img *ngIf="crewItem.profile_path" [src]="crewItem.profile_path" alt="Crew Profile">
            <ion-icon *ngIf="!crewItem.profile_path" name="person" style="font-size: 48px;"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{ crewItem.name }}</h2>
            <h3>{{ crewItem.job }}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Rekomendasi -->
    <div *ngIf="appRecomendationsContainer.length > 0" class="recommendations-section">
      <h4>Rekomendasi</h4>
      <ion-list>
        <ion-item *ngFor="let recommendItem of appRecomendationsContainer" (click)="cardEventListener(recommendItem.modelItem)">
          <ion-thumbnail slot="start">
            <img [src]="recommendItem.image" alt="Recommendation Image">
          </ion-thumbnail>
          <ion-label>
            <h2>{{ recommendItem.title }}</h2>
            <h3>{{ recommendItem.releaseYear }}</h3>
            <p>{{ recommendItem.voterRating }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
